<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tckj.icloud.mapper.DocsMapper">

    <select id="deleteLogicById" parameterType="int">
        UPDATE `docs` SET is_delete = 1 WHERE id = #{value}
    </select>

    <update id="updateDeleteStatus">
        update docs set is_delete = ${status} where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>