html,body{
    width: 100%;
    height: 100%;
}

#carousel-example-generic{
    width: 100%;
    height: 100%;
}
#carousel-example-generic .carousel-inner,.carousel-inner .item{
    width: 100%;
    height: 100%;
}
.carousel-inner .item{
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.carousel-inner .item.first{
    background-image: url("../img/1.jpg");
}
.carousel-inner .item.second{
    background-image: url("../img/2.jpg");
}
.carousel-inner .item.third{
    background-image: url("../img/3.jpg");
}

#login-module{
    width: 25%;
    height: 60%;
    background: white;
    border-radius: 2%;
    position: fixed;
    top: 20%;
    right: 5%;
}
#login-module div{
    width: 80%;
    position: absolute;
    left: 10%;
}
#login-module .user-name{
    top: 25%;
}
#login-module .password{
    top: 40%;
}
#login-module .keep-log{
    top: 55%;
}
#login-module .btn-group{
    top: 65%;
}
#login-module div span{
    min-width: 81.6px;
}
#login-module .keep-log>input{
    vertical-align: middle;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
}
#login-module .keep-log>label{
    margin-bottom: 0;
    line-height: 100%;
}
#login-module .keep-log>a{
    float: right;
    margin-right: 5px;
}
#login-module .btn-group>button{
    width: 100%;
    letter-spacing: 10px;
}

.modal-body .btn-group button:hover,.modal-body .btn-group button:focus{
    color: white;
}
.dropdown-menu{
    border: 0;
}
.dropdown-menu li{
    height: 32px;
    line-height: 32px;
    color: rgb(42, 195, 138);
}
.dropdown-menu li:focus,.dropdown-menu li:hover{
    color: white;
    background: rgb(42, 195, 138);
}
.dropdown-menu li>span{
    margin-left: 20px;
    font-size: 13px;
}

#guideTarget2:hover{
    cursor: pointer;
}

.file-table-title>li,.file-list>li>ul>li{
    display: inline-block;
    float: left;
}
.file-table .column-1{
    width: 2%;
}
.file-table .column-2{
    width: 60%;
}
.file-table .column-3{
    width: 15%;
}
.file-table .column-4{
    width: 23%;
}
.file-table-title,.file-list>li{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}
.file-table input{
    height: 40px;
    margin: 0;
}